---
import "../styles/main.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ogImage from "../assets/social-media-general.jpg";

interface Props {
  title?: string;
  bodyClass?: string;
}
const { title, bodyClass } = Astro.props as Props;

const baseUrl = import.meta.env.BASE_URL;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const ogImageUrl = new URL(ogImage.src, Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title ? `${title} - ` : ""} PyCon CZ 26, September 2026, Pilsen</title>

    <link rel="canonical" href={canonicalUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="PyCon CZ 26" />
    <meta name="twitter:site" content="@pyconcz" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:title" content="PyCon CZ 26, September 2026, Pilsen" />
    <meta property="og:description" content="Join us for 3 days full of Python and fun!!!" />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:image:width" content="2400" />
    <meta property="og:image:height" content="1260" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:alt" content="PyCon CZ 26" />

    <link rel="apple-touch-icon" sizes="180x180" href={`${baseUrl}favicon/apple-touch-icon.png`} />
    <link rel="icon" type="image/png" sizes="32x32" href={`${baseUrl}favicon/favicon-32x32.png`} />
    <link rel="icon" type="image/png" sizes="16x16" href={`${baseUrl}favicon/favicon-16x16.png`} />
    <link rel="manifest" href={`${baseUrl}favicon/site.webmanifest`} />
    <meta name="theme-color" content="#2E451C" />
  </head>
  <body class={bodyClass}>
    <Header />
    <main class="flex-grow-1 pt-4 pb-5">
      <div class="container-lg">
        <slot />
      </div>
    </main>

    <slot name="footer">
      <Footer class="global-footer" />
    </slot>
  </body>
</html>
